<?xml version="1.0"?>
<config>
    <modules>
        <Inavante_GoogleTrustedStores>
            <version>1.0.0</version>
        </Inavante_GoogleTrustedStores>
    </modules>
    <global>
        <blocks>
            <googletrustedstores>
                <class>Inavante_GoogleTrustedStores_Block</class>
            </googletrustedstores>
        </blocks>
        <helpers>
            <googletrustedstores>
                <class>Inavante_GoogleTrustedStores_Helper</class>
            </googletrustedstores>
        </helpers>
        <models>
            <googletrustedstores>
                <class>Inavante_GoogleTrustedStores_Model</class>
                <resourceModel>googletrustedstores_mysql4</resourceModel>
            </googletrustedstores>
            <googletrustedstores_mysql4>
                <class>Inavante_GoogleTrustedStores_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>gts_log</table>
                    </log>
                </entities>
            </googletrustedstores_mysql4>
        </models>
        <resources>
            <googletrustedstores_setup>
                <setup>
                    <module>Inavante_GoogleTrustedStores</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </googletrustedstores_setup>
            <googletrustedstores_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </googletrustedstores_write>
            <googletrustedstores_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </googletrustedstores_read>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googletrustedstores_order_success>
                        <class>googletrustedstores/observer</class>
                        <method>setGoogleJsOnOrderSuccessPageView</method>
                    </googletrustedstores_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <googletrustedstores_order_success>
                        <class>googletrustedstores/observer</class>
                        <method>setGoogleJsOnOrderSuccessPageView</method>
                    </googletrustedstores_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <googletrustedstores>
                    <file>googletrustedstores.xml</file>
                </googletrustedstores>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <googletrustedstores>
                    <file>googletrustedstores.xml</file>
                </googletrustedstores>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <googletrustedstores before="Mage_Adminhtml">Inavante_GoogleTrustedStores_Adminhtml</googletrustedstores>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>  
    <default>
        <googletrustedstores>
            <config>
                <enabled>1</enabled>
                <account_id></account_id>
                <delivery_weekdays>5</delivery_weekdays>
                <feed_delimiter>|</feed_delimiter>
                <feed_filename_shipped>shipped.txt</feed_filename_shipped>
                <feed_filename_canceled>canceled.txt</feed_filename_canceled>
                <feed_ftp_upload>0</feed_ftp_upload>
                <feed_ftp_server>uploads.google.com</feed_ftp_server>
                <feed_ftp_username></feed_ftp_username>
                <feed_ftp_password></feed_ftp_password>
                <time_ship>2,00,00</time_ship>
                <frequency_ship>D</frequency_ship>
                <time_cancel>2,00,00</time_cancel>
                <frequency_cancel>D</frequency_cancel>
            </config>
        </googletrustedstores>
    </default>
    <crontab>
        <jobs>
            <googletrustedstores_feed_shipped>
                <schedule>
<!--                    <cron_expr>0 2 * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>googletrustedstores/observer::generateShipmentFeedShipped</model>
                </run>
            </googletrustedstores_feed_shipped>
            <googletrustedstores_feed_canceled>
                <schedule>
                    <!--<cron_expr>0 2 * * *</cron_expr>-->
                </schedule>
                <run>
                    <model>googletrustedstores/observer::generateShipmentFeedCanceled</model>
                </run>
            </googletrustedstores_feed_canceled>
        </jobs>
    </crontab>
</config>
